@font-face {
    font-family: 'Verdana';
    src: url('../font/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin mainFont {
    font-family: 'Verdana';
    font-weight: normal;
    font-size: 20pt;
    line-height: 27px;
    color: #000000;
}

* {
    margin: 0;
}

body {
    background-image: url(../img/12_03.jpg);
    background-size: cover;
}

.head {

    &__text {
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 10px;
        @include mainFont;
        text-transform: uppercase;

        &::before {
            content: '';

            display: inline-block;
            width: 10px;
            height: 20px;
            margin: 0 5px 0 10px;

            background-color: rgb(250, 64, 154);
        }
    }

    &__video {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 200px;
        margin-left: 20px;

        font-family: 'Verdana';
        font-style: italic;
        font-size: 14px;
        color: #666666;
    
        background-color: rgba(255, 255, 255, 0.85);

        cursor: pointer;
    }
}

.main {
    width: 60%;
    margin-top: 15px;
    margin-left: 20px;

    background-color: rgba(255, 255, 255, 0.85);

    &__text {
        padding: 2%;

        font-family: 'Verdana';
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #000000;

        &_pink {
            font-weight: bold;
            color: #B5065E;
        }
    }
}

.footer {
    width: 60%;
    margin-top: 15px;
    margin-left: 20px;

    background-color: rgba(255, 255, 255, 0.85);
}

.button {
    display: flex;
    align-items: center;

    cursor: pointer;

    &__img {
        margin: 5px 30px;
    }

    &__text {
        font-family: 'Verdana';
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #B5065E;
    }
}

@import "table.scss";
@import "resolution480.scss";